*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    margin-top: 10px;
}
.formulario{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.otro{
    text-decoration: none;
}
.datos{
    background-color: rgb(51, 51, 51);
    color: white;
    padding-left: 10px;
    border-radius: 25px;
    height: 40px;
    width: 265px;
    border: 2px solid rgb(159, 54, 71);
}
.espacio{
    padding-top: 5px;
    padding-bottom: 5px;
}
.registro{
    background-color: rgb(159, 54, 71);
    color: white;
    border-radius: 5px;
    height: 55px;
    width: 275px;
    border: 1px solid rgb(159, 54, 71);
}
.espacio{
    margin-top: 5px;
}
.cuadrado{
    background-color: rgb(42, 42, 42);
    margin: 30px 470px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

body{
    background-image: url(imagenes/bg-register.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}